<app-menu></app-menu>
<div id="create-wrapper">
    <div id="create-card">
        <h3>CREATE REQUEST</h3>
        <div class="item">
            <input type="text" [(ngModel)]="req.description" placeholder="Description">
        </div>
        <div class="item">
            <input type="text" [(ngModel)]="req.justification" placeholder="Justification">
        </div>
        <div class="item">
            <input type="text" [(ngModel)]="req.deliveryMode" placeholder="Delivery Mode">
        </div>
        <div class="item">
            <input class="readonly" type="text" [(ngModel)]="req.status" placeholder="Status" readonly>
        </div>
        <div class="item">
            <input class="readonly"  type="text" [(ngModel)]="req.total" placeholder="Total" readonly>
        </div>
        <div class="item">
            <select type="text" [(ngModel)]="req.userId">
                <option *ngFor="let u of users" value="{{u.id}}">{{u.firstname}} {{u.lastname}}</option>
            </select>
        </div>
        <div id="btn-container">
            <button class="btn btn-primary" (click)="addReq()">Create</button>
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
    </div>
</div>
