<app-menu></app-menu>
<div id="table-wrapper">
    <div id="sub-menu">
        <a id="add-user" [routerLink]="['/requestlines/add/', req.id]"><i class="fa-solid fa-cart-plus"></i></a>
    </div>
    <!-- Display Request -->
    <table class="table">
        <thead>
        </thead>
        <tbody id="order-item">
            <tr>
                <td><div>Order ID: </div><div class="div-data">{{req.id}}</div></td>
                <td><div>Description: </div><div class="div-data">{{req.description}}</div></td>
                <td><div>Justification: </div><div class="div-data">{{req.justification}}</div></td>
                <td><div>Rejection Reason: </div><div class="div-data">{{req.rejectionReason}}</div></td>
                <td><div>Delivery Mode: </div><div class="div-data">{{req.deliveryMode}}</div></td>
                <td><div>Status: </div><div appStatusColor class="div-data" id="status">{{req.status}}</div></td>
                <td><div>Total: </div><div class="div-data">{{req.total | currency}}</div></td>
                <td><div>User: </div><div class="div-data">{{user.username}}</div></td>
                <td>
                    <span class="btn-span"><button (click)="approve()" class="btn-circle stat-green">APPROVE</button></span>
                    <span class="btn-span"><button class="btn-circle stat-red" (click)="toggleHide()">REJECT</button></span>
                    <div id="reject-wrapper" class="confirm hide">
                        <input type="text" [(ngModel)]="req.rejectionReason" placeholder="Rejection Reason">
                        <span class="btn-span"><button (click)="reject()" class="btn-circle stat-orange">VERIFY</button></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Display Requestlines -->
    <!-- for order to be created on current order -->
    <table id="line-items" class="table table-striped" *ngIf="req">
        <thead>
            <tr>
                <th>Id<i class="fa-solid fa-sort"></i></th>
                <th>Product<i class="fa-solid fa-sort"></i></th>
                <th>Price<i class="fa-solid fa-sort" ></i></th>
                <th>Quantity<i class="fa-solid fa-sort" ></i></th>
                <th>Subtotal<i class="fa-solid fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rl of req.requestLines let i = index">
                <td>{{rl.id}}</td>
                <td>{{rl.products?.name}}</td>
                <td>{{rl.products?.price | currency}}</td>
                <td>{{rl.quantity}}</td>
                <td>{{rl.quantity * rl.products?.price! | currency}}</td> 
            </tr>
        </tbody>
    </table>
</div>