#error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--text-color-light); */
    height: 100%;
}

.error {
    font-size: 8rem;
    font-weight: 600;
    color: #555;
    text-align: center;
    width: 70vw;
}