#title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgb(40, 106, 168);
    padding: 0.5rem 1rem ;
    gap: 0.5rem;
}

#title-wrapper i {
    color: azure;
    font-size: 2rem;
    height: 100%;
}

#title-wrapper span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 25px;
    height: auto;
    color:azure;
    margin-bottom: -5px;
    padding: 0;
}
