#title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem ;
    gap: 0.5rem;
    z-index: 999;
}

#title-wrapper i {
    color: var(--text-color-light);
    font-size: 2rem;
    height: 100%;
}

#title-wrapper span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 25px;
    height: auto;
    color: var(--text-color-light);
    margin-bottom: -5px;
    padding: 0;
}
