<app-menu></app-menu>
<div id="about-wrapper">
    <header id="about-header">
        <div>
            <h3>About PRS</h3>
            <p>A better way to manage purchase requests.</p>
        </div>
    </header>
    <div id="about-body">
        <div id="section-1">
            <div class="content-box">
                <h4>What is the PRS product?</h4>
                <p>The Purchase Request System (PRS) is the capstone for the MAXimum boot camp and its completion is required for graduation. It's made up of a database, a backend, and a frontend using various technologies. 
                The database contains five table: User, Vendor, Product, Request, and Requestline.</p>
                <p>The backend implements Create, Read, Update, and Delete (CRUD), allowing end-users to have full control over data stored in the database.</p>
                <p>Frontend consist of a login page, home page, about page, and components that allow transactions for each of the database tables.</p>
                <p class="credit-name"><b>Student:</b> Tony Rawlins</p>
                <p class="credit-name"><b>Max Instructor:</b> Greg Doud</p>
                <h4>Github Repositories</h4>
                <div id="code-wrapper">
                    <div class="code-item">
                        <h6>Backend Code</h6>
                        <a href="https://github.com/TJRawlins/prs_csharp/tree/main/PRS" target="_blank"><img class="code-img" src=".\assets\backend-code.png" alt="Backend - Github"></a>
                    </div>
                    <div class="code-item">
                        <h6>Frontend Code</h6>
                        <a href="https://github.com/TJRawlins/prs-ng" target="_blank"><img class="code-img" src=".\assets\frontend-code.png" alt="Backend - Github"></a>
                    </div>
                </div>
                <div id="btn-wrapper">
                    <button class="btn">Register</button>
                </div>
            </div>
            <img id="product-img" src=".\assets\purchase-order.png" alt="">
        </div>
        <div id="section-2">
            <img id="tech-img" src=".\assets\digital-vector.png" alt="">
            <h4>Technologies Used</h4>
            <div id="tech-container">
                <div class="tech-item">
                    <h5 class="bold"><i class="fa-solid fa-database"></i>Database:</h5>
                    <ul>
                        <li><i class="fa-brands fa-windows"></i>Microsoft SQL Server</li>
                        <li><i class="fa-solid fa-code"></i>T-SQL</li>
                    </ul>
                </div>
                <div class="tech-item">
                    <h5 class="bold"><i class="fa-solid fa-code"></i>Back-End:</h5>
                    <ul>
                        <li><i class="fa-solid fa-code"></i>C# .NET Framework</li>
                        <li><i class="fa-solid fa-server"></i>Entity Framework</li>
                    </ul>
                </div>
                <div class="tech-item">
                    <h5 class="bold"><i class="fa-solid fa-desktop"></i>Front-End:</h5>
                    <ul>
                        <li><i class="fa-brands fa-html5"></i>HTML 5</li>
                        <li><i class="fa-brands fa-css3-alt"></i>CSS 3</li>
                        <li><i class="fa-brands fa-bootstrap"></i>Bootstrap 4</li>
                        <li><i class="fa-brands fa-angular"></i>Angular TypeScript</li>
                        <li><i class="fa-brands fa-js"></i>Javascript</li>
                    </ul>
                </div>
                <div class="tech-item">
                    <h5 class="bold"><i class="fa-solid fa-wrench"></i>Tools:</h5>
                    <ul>
                        <li><i class="fa-solid fa-laptop-code"></i>Visual Studio</li>
                        <li><i class="fa-solid fa-laptop-code"></i>VS Code</li>
                        <li><i class="fa-brands fa-square-git"></i>Git, Github, Git Bash</li>
                        <li><i class="fa-solid fa-rocket"></i>Postman</li>
                        <li><i class="fa-brands fa-windows"></i>Azure Data Studio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer id="about-footer">
        <div>
            <p>Tony Rawlins © 2023</p>
        </div>
    </footer>
</div>