<div class="welcome">
    <span class="splash"></span>
    <span id="welcome"><i class="fa-solid fa-money-check-dollar"></i></span>
</div>
<div id="create-wrapper">
    <div id="create-card">
        <h3>SIGN IN</h3>
        <div id="login-wrapper">
            <div class="item">
                <i class="fa-solid fa-user"></i>
                <input type="text" [(ngModel)]="user.username" placeholder="Username">
            </div>
            <div class="item">
                <i class="fa-solid fa-lock"></i>
                <input type="password" [(ngModel)]="user.password" placeholder="Password">
            </div>
        </div>
        <div id="btn-container">
            <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
        <span id="login-error">{{message}}</span>
        <div id="link-wrapper">
            <a href="/login">Forgot password?</a>
            <a href="/login">Register</a>
        </div>
    </div>
</div>