#create-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100vw;
    height: 50vh;
}

#create-card {
    background-color: var(--light-bg);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2rem;
    height: fit-content;
}

h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}


.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--deactivated);
}

#create-card  {
    margin-bottom: 2rem;
}


.item i {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-right: 0.5rem;
    margin-bottom: 0.45rem;;
}

.item input {
    width: 100%;
    justify-self: right;
    border: none;
    margin-bottom: 0.3rem;
}

.item input:focus {
    outline: none;
}

#btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

button {
    width: 100%;
}

#link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
}

#link-wrapper a {
    text-decoration: none;
    font-size: 0.75rem;
}

#login-error {
    margin-top: 0.25rem;
    color: #ff0000;
}



/* start welcome animation */
/* .welcome {
    background: var(--light-bg);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  .welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid var(--secondary-color);
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
  
  .welcome #welcome {
    background: var(--light-bg) ;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  } */
     
  /* moveIn */
  /* .welcome header,
  .welcome a.btn {
    opacity: 0;
    animation: moveIn 2s 3.1s ease forwards;
  }

.fa-money-check-dollar {
    position: absolute;
    top: 12px;
    left:10px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
  } */
  
  /* @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
      display: none;
    }
  }
  
  @keyframes borderRadius {
    0% {
      border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
      display: none;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: var(--secondary-color);
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      display: none;
    }
  }
  
  @keyframes moveIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */