#create-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100vw;
    height: 50vh;
}

#create-card {
    background-color: var(--text-color-light);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2rem;
    height: fit-content;
}

h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-weight: 600;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}


.item-active {
    width: 20%;
}

.item input {
    margin-left: 1rem;
    justify-self: right;
    min-width: 189px;
}

.item select {
    min-width: 189px;
}

button {
    justify-content: flex-start !important;
    margin-top: 1rem;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

#btn-container button, a {
    justify-content: flex-start !important;
    width: 100%;
}

#btn-container a {
    display: block;
    color: var(--text-color-light);
    text-decoration: none;
    width: 100%;
}

.readonly {
    color: var(--deactivated);
}